@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="position-absolute top-50 start-50 translate-middle">
    <center>
        <h1>SOUTHERN CHRISTIAN COLLEGE</h1>
        <a class="btn btn-primary" asp-page="/QBLogbook">LOGIN</a>
    </center>
</div>
